<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/homepage.css')}}">
	<link rel="icon" href="{{url_for('static', filename='assets/favicon.png')}}">
	<title>Fit-Pros</title>
</head>
<body>

	<header>
		<div class="bottom-header" id="myHeader">
		<div class="container">
			<div class="col-div-4">
				<h1 class="logo">Fit-Pros</h1>
			</div>
			<div class="col-div-8">
				<nav class="menu">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/team">Team</a></li>
						<li><a href="/logout">Logout</a></li>
					</ul>
				</nav>
			</div>
			<div class="clearfix"></div>
		</div>
		</div>
	</header>

<section class="banner-1">
	<div class="back-layer"></div>
	<div class="container">
		<div class="ban-box">
			<h1>Hey {{loggeduser.name}}! Get in Shape with Fit-Pros</h1>
			<p>Start your journey to acknowledge your body, to take a step to cure it and to get fit</p>
			<button class="learn-more"><a href="/dregistration" style="color: white;">Let's Start</a></button>
			<button class="learn-more" style="margin-left: 30px;"><a href="/userdata/{{loggeduser.email}}" style="color: white;">My Report</a></button>
		</div>
	</div>
</section>


<section class="section-one">
	<br><br><br><br>
	<div class="container">
		
		<div class="col-div-6">
			<h2 class="h2w">Working of our <span>Application</span></h2>
			<br>
			<p class="para-1">Our Healthcare management system or the Fitpros application is a user interactive web-application that 
				that works like a health advisory system. For example, when we have a disease or a health issue we go to the 
				doctor/advisor in a normal scenario, after that by listening to our problems and symtomps, they 
				provide us the cure or treatement to recover from the issue that we are facing.
			</p>
			<p class="para-1">Our Web-application work the same but in an efficient and user-friendly manner. It takes user's 
				disease/health issue or their physical and medical details as input through the registration form
				disease registration. After that it will automatically calculate and generate the infomation 
				and exercise plan which includes the basic disease information, causes, symptoms, prevention tips and
				lastly but not leastly the recommended exercises calculated by the Application itself for the user.
			</p>
		</div>
		<div class="col-div-6">
			<br><br><br>
			<img width="350px" height="350px" style="padding-left: 150px;" src="{{url_for('static', filename='img/homepage2.jpg')}}" alt="">
		</div>
		<div class="clearfix"></div>
	</div>
	
</section>


<section class="section-two" id="services">
	<div class="container">
		<p class="p-head">WHAT WE CAN DO?</p>
		<h3 class="head-3">Our <span>Features</span></h3>

		<div class="all-box">
		<div class="box-2">
			<div class="box-left">
				<i class="fa fa-snowflake-o sicon"></i>
			</div>
			<div class="box-right">
				<h3 class="head-4">Beautiful UI</h3>
				<p>
					Our system/web-app provides users with beautiful and interactive UI helping users to 
					achieve their goal in the app easily.
				</p>
				<br>
		
			</div>
		</div>
		
		<div class="box-2">
			<div class="box-left">
				<i class="fa fa-blind sicon"></i>
			</div>
			<div class="box-right">
				<h3 class="head-4">Easy Walkthrough</h3>
				<p>
					The steps to achieve the goal i.e., to register and to navigate inside the application is a lot easier due to the 
					UI and the guides provided.
				</p>
				<br>
			
			</div>
		</div>

		<div class="box-2">
			<div class="box-left">
				<i class="fa fa-cut sicon"></i>
			</div>
			<div class="box-right">
				<h3 class="head-4">Specific Data Processing</h3>
				<p>
					The web-app is so accurate that it trims and dynamically shows only the pages required according 
					to the user's entered data.
				</p>
				<br>
				
			</div>
		</div>

		<div class="box-2">
			<div class="box-left">
				<i class="fa fa-language sicon"></i>
			</div>
			<div class="box-right">
				<h3 class="head-4">Easy to Understand Report</h3>
				<p>
					The information calculated and generated by the server in the output report is very convienently
					typed so that the users can understand even the complex terms easily.
				</p>
				<br>
			
			</div>
		</div>

		

		</div>

	<div class="clearfix"></div>
	<br><br>
	</div>

</section>
<!-- 
<section class="section-four">
	<div class="back-layer"></div>
	<div class="container">
		<div class="content-1">
		<h1>Extend Your Life With a Daily Exercise</h1>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
		<button class="learn-more">Learn More</button>
	</div>
	</div>
</section> -->


<footer>
	<div class="container">
		<h1 class="logo">Fit-Pros</h1>
		<ul class="foot-nav">
			<a href="/"><li>Home</li></a>
			<a href="/about"><li>About us</li></a>
			<a href="/team"><li>Teams</li></a>
			<a href="https://instagram.com"><li>Contact us</li></a>
		</ul>
		<div class="social s1">
					<a href="https://twitter.com"><i class="fa fa-twitter hicon"></i></a>
					<a href="https://instagram.com"><i class="fa fa-instagram hicon"></i></a>
					<a href="https://linkedin.com"><i class="fa fa-linkedin hicon"></i></a>
					</div>
		<div class="clearfix"></div>
		<br><br>
	</div>
	<div class="foot-bot">
			<p>© 2022 Fit-Pros.</p>
	</div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
window.onscroll = function() {myFunction()};

var header = document.getElementById("myHeader1");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>
</body>
</html>